@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.title
{
    background-color: rgb(100, 109, 119);
    font-size: 1.6rem;
    text-transform: capitalize;
}

.list
{
    padding-top: 1em;
}
.item:nth-child(even) {
    background-color: #f2f2f2;
  }
.item
{
    padding: 1em 0;
    font-family: 'Playfair Display', serif;
}