.nav__link
{
    color: #333;
    font-size: 1.5rem;
    padding: .5rem 1.3em ;
    display:flex;
    align-items: center;
    cursor: pointer;
}
.nav__link span
{
    text-transform: capitalize;

}
.nav__link:hover span
{
    color: greenyellow;
}
